.vs/StaffManagement/FileContentIndex/22c03078-f492-4136-8c6b-786e4d3b402f.vsidx
.vs/StaffManagement/FileContentIndex/5eeaf7da-90f8-4065-8957-24bc04746355.vsidx
.vs/StaffManagement/FileContentIndex/448fc92a-ee65-46d5-8002-295e6c6019b6.vsidx
.vs/StaffManagement/FileContentIndex/254f80e9-b311-4606-b940-fc32332f00cf.vsidx
.vs/StaffManagement/FileContentIndex/f19a72f5-25ec-4e5d-af4f-a34816cfe37c.vsidx
.vs/StaffManagement/v17/.futdcache.v2
.vs/StaffManagement/DesignTimeBuild/.dtbcache.v2
.vs/StaffManagement/FileContentIndex/0c81d679-e94f-48ce-98c1-bc718369ec54.vsidx
